article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus,textarea:focus {
  outline: none;
}

body {
    margin: 0;
    height: 100%;
}     

html {
  height: 100%;
}

/*----------------------*/

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
  
/*----------------------*/

header {
  padding: 8px 10%;
  background-color: #3385ff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
  box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
}

/*----------------------*/

#navul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
  font-size: 10px;
}

nav li {
  float: left;          
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  padding: 0 15px;
  text-decoration: none;
  color: #b3d1ff;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  color: white;
  text-decoration: underline;
}

nav #login-content {
  display: none;
  height: 13em;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 999;    
  background: #f2f2f2;
  padding: 15px;
  border: 2px solid #4d94ff;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: -19%;
  width: 250px;  
}

/*--------------------*/

#inputs input {
  background: #white;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #222222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #efefef inset;
  -webkit-box-shadow: 0 1px 1px #efefef inset;
  box-shadow: 0 1px 1px #efefef inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #4d94ff;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #efefef inset;
  -webkit-box-shadow: 0 0 0 1px #efefef inset;
  box-shadow: 0 0 0 1px #efefef inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 17px 0 0;
}

#login #submit {        
  background-color: #3385ff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #222222;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #efefef;
}

#login #submit:hover,
#login #submit:focus {        
  background-color: #4d94ff;
}    

#login #submit:active {        
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  font-size: 10px;
  float: right;
  line-height: 30px;
  margin-left: 20px;
}

#login label input {
  position: relative;
  top: -1px;
  right: 4px;
}

#loginform {
  font-size: 14px;
}

#logo {
  left: 10.5%;
  position: absolute;
  top: 11px;
  height:21px;
}

.lock {
  margin-top: 5em;
  text-align: center;
}

.lock img {
  height: 12em;
}

#signup-title {
  text-align: center;
  margin-top: 5em;
}

.adjacent {
  display: inline-block;
}

/*--------------------*/
.main-container {
  width: 77%;
  margin-left: 11%;
  border-top: 1px solid #d9d9d9;
}

.greybar {
  padding-top: 1px;
  width: 100%;
  height: 4em;
  background-color: #f2f2f2;
}

.left-main {
  width: 63.8%;
  border-right: 1px solid #d9d9d9;;
}

.left-main p {
  color: #737373;
}

.right-main {
  width: 36%;
  position: absolute;
}

#build-name {
  margin-left: 11%;
  line-height: 4em;
  font-size: 19px;
  color: #4d94ff;
  text-transform: capitalize;
}

.name-form {
  margin-top: 5%;
}

.name-form input {
  margin-right: 1em;
}

.gutter-left {
  width: 91%;
  margin-top: 6%;
}

.gutter-right {
  margin-top: 8%;
  margin-left: 11%;
  width: 66.7%;
}

#btrack {
  color: #737373;
}

#btrack-name {
  font-family: Helvetica;
  text-transform: uppercase;
  color: #3385ff;
  font-weight: bold;
}

.gutter-right h1 {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.gutter-right

.desc p {
  color: #737373;
}

#divide {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #4d94ff;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#divide span {
  position: relative;
  background: white;
  padding: 0 10px;
  font-size: 9px;
  letter-spacing: 1px;
  color: #4d94ff;
  bottom: 10px;
}

.bold {
  font-weight: bold;
}

.ilb {
  display: inline-block;
}

/* ----------------- */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.4px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(51, 133, 255, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 13px;
  width: 50px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.6px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: rgba(51, 133, 255, 0.78);
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(51, 133, 255, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 13px;
  width: 50px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: rgba(51, 133, 255, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(51, 133, 255, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 13px;
  width: 50px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer;
  height: 8.2px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(51, 133, 255, 0.78);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: rgba(51, 133, 255, 0.78);
}

output { 
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}

output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.output {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.lefto {
  float: left;
}

.righto {
  float: right;
}

.partimg {
  height: 5.5em;
  width: 5.5em;
}

.partprice {
  font-weight: bold;
  font-size: 15px;
}

.partname {
  font-weight: bold;
  font-size: 15px;
}

.partcontainer {
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 1.5em;
}

.pimg-container {
  text-align: center;
  width: 23%;
  position: relative;
  bottom: 0.2em;
}

.pinfo-container {
  position: relative;
  top: 1em;
  width: 75%;
  font-size: 13px;
  line-height: 17px;
}

.pickbutton {
  position: relative;
  left: 79%;
  bottom: 6em;
}


.slidedown {
  position: relative;
  top: 10px;
}

.checkform {
  margin-top: -1em;
  text-align: center;
  margin-bottom: 0.5em;
}

.checkform label{
  margin-left: 1em;
}
